/* .card mb-3 {
    cursor: pointer;
} */
.custom {
    max-width: 540px;
}
.card {
    padding: 12px 12px 12px 20px;
    margin-top: 0;
}
.card-body {
    margin-left: 10px;

}
.card-title{
    margin-left: 30px;
}
ul li {
    list-style-type: none;
}

.green {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #7bd81f;
    position: absolute;
    right: -8px;
    top: -6px;
}
.red {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color:red;
    position: absolute;
    right: -8px;
    top: -6px;
}
.block {
    opacity: 0.6;
}

.one-line {
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: pre-wrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
     display: -webkit-box;
}